.delete-button {
    width: 60px;
    height: 30px;
    background-color: rgb(239, 78, 78);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: auto;
    margin-top: -45px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1pc;
  }

  .delete-button:hover {
    background-color: brown;
}

.create-new-order-btn {
    width: 80px;
    height: 40px;
    background-color: greenyellow;
    font-weight: bold;
    font-size: 1pc;
    border-radius: 10%;
    justify-content: flex-end;
    align-self: right;
    display: flex;
}

.create-new-order-btn:hover {
    background-color: darkgreen;
    color: white;
}

.close-template-btn {
    width: 60px;
    height: 30px;
    background-color: rgb(239, 78, 78);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: auto;
    margin-top: -45px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1pc;
}

.close-template-btn:hover {
    background-color: brown;
}

.create-pdf-btn {
    width: 80px;
    height: 40px;
    background-color: greenyellow;
    font-weight: bold;
    font-size: 1pc;
    border-radius: 10%;
    justify-content: flex-end;
    align-self: right;
    display: flex;
}

.create-pdf-btn:hover {
    background-color: darkgreen;
    color: white;
}