.home {
    background-image: url("https://drive.google.com/file/d/1XlQwlue7_f9FPJ8BLx5AOJZaJv17hkRq/view?usp=sharing.mp4");
    background-size: 100%;
    background-position: center;
    /* Additional styles if needed */
  }
  .home-container{
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .home-container h1 {
    font-size: 10pc;
  }
  #metal-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  /* new home.css fro here: */
  .home-page {
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .vertical-line {
    position: relative;
    margin-right: -100px;
  }
  
  .line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: blue; /* Updated color to blue */
    transform: translateX(-50%);
  }
  
  .point {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
  }
  
  .icon {
    margin-right: 0.5rem;
  }
  
  span {
    margin-left: -100px;
  }
  /* Additional styles if needed */
    