  input {
    width: 2cm;
    text-align: right   ;
  }

.container {
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(241, 213, 56);    ;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    align-items: right;
    justify-content: right;
    height: 170px;
    width: 600px;
    padding-bottom: -50px;
    margin-bottom: 10px;
}

.A_B_L {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    margin-top: -20px;
}

.A_L {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-direction: column;
    
}

.img {
    width: 60px;
    height: 90px;
    margin-right: 5px;
    text-align: center;

}

.kubeA {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    text-align:center;
    font-weight: bold;
    
}

.kubeB {
    margin-top: 50px;
    margin-right: -30px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    
}

.AB_inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    text-align: right;
    margin-right: 160px;
    font-weight: bold;
}



.units {
    margin-right: 75px;
    margin-top: 16px;
    
}