:root {
  --headerColor: #8a2b06;
  --textColor: #eee;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--headerColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    margin-bottom: 10px;
  }

  .logo {
    height: 220px;
    margin-top: 10px;
    margin-left: 10px;
  }

.nav {
    background-color: var(--headerColor);
    align-items: end;
    justify-content: end;
    margin-top: 0;
}

nav a {
	margin: 0 1rem;
  margin-right: 20px;
	color: var(--textColor);
	text-decoration: none;
  font-weight: bold;
}

nav a:hover {
	color:  rgb(241, 213, 56);
  background-color: var(--headerColor);
}

.userName-header {
    margin-left: -10px;
    margin-right: 20px;
    color: var(--textColor);
    margin-bottom: 10px;
    font-weight: bold;
}